html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* main background image */
.body {
  background: url(../images/bg5.jpg) no-repeat fixed;
  background-size: 100% 100%;
  background-position: center;
  filter: blur(10px);
  height: 800px;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.right-0 {
  right: 10px;
}
/*////////////////////////////////////////// home section start /////////////////////////////////////////////*/

#home button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#home button.learn-more {
  width: 12rem;
  height: auto;
}

#home button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

#home button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

#home button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#home button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

#home button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#home button:hover .circle {
  width: 100%;
}

#home button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

#home button:hover .button-text {
  color: #fff;
}

/*////////////////////////////////////////// home section end /////////////////////////////////////////////*/
/*////////////////////////////////////////// nav section start /////////////////////////////////////////////*/

nav .box {
  width: 200px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

nav .box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

nav .box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

nav .box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

nav .box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

nav .box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

nav button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
nav {
  box-shadow: 0 0px 10px gray;
}
nav li {
  position: relative;
  overflow: hidden;
}

nav li::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 1s;
}
li:hover:after {
  left: 0px;
}

/*////////////////////////////////////////// nav section end /////////////////////////////////////////////*/
/*////////////////////////////////////////// footer section start /////////////////////////////////////////////*/

.footer-row3 {
  background: #ffffff;
  padding: 30px 0;
}
.copyright {
  text-align: center;
  color: #6a6a8e;
}
.fa {
  font-size: 30px;
  margin: 20px;
  color: black;
}
.fa:hover {
  color: rgb(93, 93, 223);
}
/*////////////////////////////////////////// footer section end /////////////////////////////////////////////*/
/*////////////////////////////////////////// services section start /////////////////////////////////////////////*/

#services .card:hover {
  transition: all 0.4s;
  transform: scale(1.06);
  box-shadow: 0px 0px 40px gray;
}

.featurette {
  margin-top: 50px;
  padding-top: 40px;
  
}
.featurette div {
  padding: 30px;
  
}
.featurette img {
  height: 500px;
}

#services img {
  height: 300px;
}

/*////////////////////////////////////////// services section end /////////////////////////////////////////////*/
/*////////////////////////////////////////// appp section start /////////////////////////////////////////////*/

.app-list li {
  margin: 10px 10px 10px 40px;
  position: relative;
}
.app-list .lc {
  margin: 10px;
  line-height: 20px;
  position: absolute;
  left: -50px;
  color: rgb(45, 170, 45);
}

.bbutton {
  padding: 17px 20px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  line-height: 30px;
}

.bbutton:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  transform: scale(1.02);
}

.bbutton:active {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.my-8 {
  display: block;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  margin: 10px 0;
}
.my-8 .fa {
  margin: 0;
}

.bg {
  background-color: hwb(187 95% 2%);
}
#our_app .or {
  margin-top: 100px;
}
.text-l h3,
.text-l h5,
.text-l p {
  margin-left: 30px;
}
/*////////////////////////////////////////// app section end /////////////////////////////////////////////*/
/*////////////////////////////////////////// media query  start /////////////////////////////////////////////*/

@media (max-width: 768px) {
  #home .intro {
    height: 400px;
    display: inline-block;
    margin-top: 100px;
  }
  #home .intro button {
    margin-top: 30px;
  }
  #home .button-text {
    text-indent: 10px;
  }
  #contact_pg iframe {
    margin-top: 50px;
  }
  .bbutton {
    margin: 10px auto;
    width: 90%;
    display: block;
    line-height: 10px;
    padding: 10px 0px 10px 10px;
    text-align: center;
  }
}

/*////////////////////////////////////////// media query end /////////////////////////////////////////////*/


.cardt{
  width:300px;
  height: 350px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  cursor: pointer;
}
.cardt:hover{
  transform: scale(1.1);
}
.card-imaget {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-imaget:hover {
  transform: scale(0.98);
}

.categoryt {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
  text-align: center;

}


.headingt {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
  text-align: center;
}
/* ///////////////////////////cource///////////////////// */
#cource li{
  list-style: none;
  letter-spacing: 1.5px;
  word-spacing: 5px;

}
#cource h1{
  padding:20px 50px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(29deg, #00FF5BFF 0%, #239DF5FF 100%);
text-align: center;}
#cource h2{
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
}
#cource .card{
  width:80%;
  display: block;
  margin: auto;
  height:100%;
  position: relative;
}
#cource .card h4{
  position: absolute;
  bottom:0;
  width:100%;
}
.card ul{
  padding-bottom:50px
}
#cource .fa{
  font-size: 20px;
  color:green;
  padding:0;
  margin:0 20px 0 0
}


.fw-bold,.lh-1{
  color:#239DF5FF;
  
}

